@use '../variables' as *;

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;

  .accordion-item {
    border-radius: $border-radius;
    transition: background-color $transition-params;

    &.expanded {
      background-color: $accent;

      .label .text {
          font-weight: 600;
      }

      .label:hover .icon,
      .label:focus-visible .icon {
        color: $fg;
      }
    }

    &.label-only .label {
      .icon,
      &:hover .icon,
      &:focus-visible .icon {
        color: $fg-dark;
      }
    }

    .label {
      display: flex;
      justify-content: space-between;
      gap: 0.75rem;
      width: 100%;
      padding: 1rem;
      color: $fg;
      background-color: transparent;
      text-align: left;

      &:hover,
      &:focus-visible {
        cursor: pointer;

        .icon {
          color: $accent;
        }
      }

      .text {
        margin: 0;
        font-weight: 300;
        transition: font-weight $transition-params;
      }

      .icon {
        flex-shrink: 0;
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        transition: color $transition-params;

        &.hidden {
          display: none;
        }
      }
    }

    .body {
      height: 0;
      margin: 0;
      overflow: hidden;
      transition: height 200ms ease;

      .text {
        margin: 0;
        padding: 0 1rem 1rem;

        a {
          color: $accent-2;
        }
      }
    }
  }
}
