@use '../variables' as *;
@use '../mixins' as *;

header {
  position: relative;
  height: 100%;
  min-height: stretch;
  overflow: hidden;

  .background-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .language {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: $fg;

    .language-button {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      color: $fg;
      cursor: pointer;
    }

    .language-menu {
      position: absolute;
      top: 100%;
      left: 0.5rem;
      margin: 0;
      padding: 0.5rem 0;
      background-color: $bg;
      border-radius: $border-radius;
      list-style: none;
      overflow: hidden;

      &.hidden {
        display: none;
      }

      a {
        display: block;
        padding: 0.4rem 1.5rem;
        color: $fg;
        white-space: nowrap;
        transition:
          color $transition-params,
          background-color $transition-params;

        &:hover,
        &:focus-visible {
          color: $fg-inverted;
          background-color: $fg;
        }
      }
    }
  }

  .title,
  .description {
    margin: 0;
    text-align: center;
  }

  .title {
    color: $accent-2;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    font-family: Rubik, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    transition-delay: 0ms;
  }

  .description {
    max-width: 300px;
    margin-top: 2rem;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    font-size: 1.5rem;
    transition-delay: 250ms;
  }

  .cta {
    margin-top: 6rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
    transition:
      // Hover transition
      color $transition-params,
      background-color $transition-params,
      // Animation transition
      opacity $animation-transition-params 500ms,
      transform $animation-transition-params 500ms;
  }

  @include viewport-size(small) {
    .title {
      font-size: 5rem;
    }

    .description {
      max-width: 620px;
    }
  }

  @include viewport-size(large) {
    .title {
      font-size: 6rem;
    }

    .description {
      max-width: 740px;
    }
  }
}

.introductions {
  .introduction {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 1rem;
    background-color: $bg-light;
    border-radius: $border-radius;

    &:first-of-type {
      margin-top: 0;
    }

    .description {
      position: relative;
      width: 100%;
      margin: auto 0;
      padding: 1.5rem;
      line-height: 1.5;
    }

    .image {
      width: 100%;
      height: auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include viewport-size(medium) {
      flex-direction: row;
      gap: 4rem;
      padding: 1rem;
      background-color: transparent;

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }


      .description {
        position: relative;
        width: 50%;
        margin: auto 0;
        padding: 2rem 0 2rem 2rem;
        line-height: 1.5;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 2rem;
          bottom: 2rem;
          left: 0;
          width: 0.2rem;
          background-color: hsl(255, 100%, 60%);
        }
      }

      .image {
        width: 50%;
        border-radius: 1rem;
      }
    }
  }
}

.rules {
  .rules-container {
    width: 100%;
    max-width: 640px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .rules-closing {
    width: 100%;
    max-width: 640px;
    margin-top: 2rem;
    padding: 0 1rem;
    line-height: 1.5;
  }
}

.applications-text {
  max-width: 640px;
  text-align: center;
  line-height: 1.5;
}

footer {
  .copyright,
  .license {
    display: block;
    margin: 1rem auto;
    text-align: center;
  }
}
