*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

body {
  margin: 0;
  color: #fff;
  background-color: #090910;
}

a {
  color: hsl(255, 100%, 60%);
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;

  .section-title {
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.2rem;
      margin-top: 0.75rem;
      background-color: hsl(255, 100%, 60%);
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .background-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    z-index: -1;
  }

  .title,
  .description {
    margin: 0;
    text-align: center;
  }

  .title {
    color: hsl(30, 100%, 65%);
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    font-family: Rubik, sans-serif;
    font-size: 6rem;
    font-weight: 600;
  }

  .description {
    max-width: 60%;
    margin-top: 2rem;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 6rem;
    padding: 0.75rem 1.5rem;
    color: inherit;
    border: 0.125rem solid #fff;
    border-radius: 1000000px;
    text-decoration: none;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    transition: color 200ms ease, background-color 200ms ease;

    &:hover,
    &:focus-visible {
      color: #000;
      background-color: #fff;
    }

    .text {
      margin: 0;
    }

    .icon {
      display: block;
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

.introductions {
  max-width: 1600px;
  margin: 0 auto;

  .introduction {
    display: flex;
    gap: 4rem;
    padding: 2rem;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    .description {
      position: relative;
      width: 50%;
      margin: auto 0;
      padding: 2rem 0 2rem 1.5rem;
      line-height: 1.5;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 2rem;
        bottom: 2rem;
        left: 0;
        width: 0.2rem;
        background-color: hsl(255, 100%, 60%);
      }
    }

    .image {
      position: relative;
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}

.rules-container {
  width: 100%;
  max-width: 40%;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  list-style: none;

  .rule {
    border-radius: 1rem;
    transition: background-color 200ms ease;

    &.expanded {
      background-color: hsl(255, 100%, 60%);

      .label .text {
        font-weight: 600;
      }

      .label:hover .icon {
        color: #fff;
      }
    }

    &.label-only .label {
      .icon {
        color: #404040;
      }

      &:hover {
        cursor: default;

        .icon {
          color: #404040;
        }
      }
    }

    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      &:hover {
        cursor: pointer;

        .icon {
          color: hsl(255, 100%, 60%);
        }
      }

      .text {
        margin: 0;
        font-weight: 300;
        transition: font-weight 200ms ease;
      }

      .icon {
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        transition: color 200ms ease;

        &.hidden {
          display: none;
        }
      }
    }

    .body {
      height: 0;
      margin: 0;
      overflow: hidden;
      transition: height 200ms ease;

      .text {
        margin: 0;
        padding: 0 1rem 1rem;
      }
    }
  }
}

.rules-closing {
  width: 100%;
  max-width: 40%;
  margin-top: 2rem;
  line-height: 1.5;
  text-align: center;
}

.applications-text {
  max-width: 40%;
  text-align: center;
}

footer {
  padding: 100px;

  .copyright {
    text-align: center;
  }
}
